@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

/* root selector for all the colors of the website*/
:root{
    --color1: black;
    --color2: white;
    --color3: yellow;
    --color4: rgb(18, 210, 18);
    --color5:  rgb(119, 119, 103);
    --color6: rgb(37, 228, 212);
    --background: #f0f0f0;
    --price1: #12b262;
    --price2: #34c759;
    --discount1: #ff3b30;
    --discount2: #e55050;
    --star: orange;
    --overlay-favicon-color: #666;
    --overlay-favicon-background: white;
    --overlay-background:  rgba(255, 255, 0, 0.132);
    --arrival-box-shadow: #242424;
    --scroll-bar:  rgba(0, 0, 0, 0.521);
    /*12b262 or 34c759 for the price green*/
    /*ff3b30 or e55050 for the discount */
}

/* "*" selects all tags in the website and gives them the following properties (Kind of 
an initializer) */

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2s cubic-bezier(.37,1.14,.26,1.24);
   
}

/* Applies style to highlighted parts of the website */
*::selection{
    background: var(--color1);
    color: var(--color4);
}
/* Style the website*/
html{
    font-size: 62.5%;
    overflow-x: hidden;
    
}
/* Styles the different buttons in the website*/
.btn{
    height: 4rem;
    width: 14rem;
    background:var(--color1);
    color: var(--color2);
    font-size: 2rem;
    cursor: pointer;
    border:none;
    outline: none;
    border-radius: 20px;
    transition: .5s ease-in-out;
}
/* Action upon hovering on a button on a desktop view */

.btn:hover{
    letter-spacing: .2rem;
    opacity: .8;
    background: var(--color3);
    color: var(--color1);

}
/*Styles the headings of each section i.e  New arrivals, Featured Products etc*/

.heading{
    padding-top: 7rem;
    width: 95%;
    border-bottom: .2rem solid rgba(0,0,0,.3);
    margin:0 auto;
}

/*Styles the text of the different headings of each section*/
.heading span{
    font-size: 2rem;
    padding:1rem 6rem;
    color: var(--color3);
    background: var(--color1);
    display: inline-block;
}

/*Styles the first and second headers of the website*/
header .header-1, header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem;
    width: 100%;
    z-index: 1000;
}

/*Styles the hyperlink at the first header (Shopping)*/
header .header-1 .logo{
    font-size: 2rem;
    color: var(--color1);
}

/*Styles the font awesome shopping bag, besides the hyperlink "shopping" */
header .header-1 .logo i{
    color: var(--color1);
}
/*Styles the form at the first header*/

header .header-1 .form-container form{
    display: flex;
}
/* Styles the input tag */
header .header-1 .form-container form #search{
    height: 4rem;
    width: 50rem;
    outline: none;
    border:.2rem solid #666;
    font-size: 1.5rem;
    padding:0 1rem;
}

/*Sets the action when you focus or click on the
search bar. In this case, it removes the border*/
header .header-1 .form-container form #search:focus{
    border: none;
}

/*Styles the form's label (the font awesome search icon
since there is no text in it*/
header .header-1 .form-container form label{
    height: 4rem;
    width: 5rem;
    text-align: center;
    line-height: 4rem;
    font-size: 2rem;
    cursor: pointer;
    background: var(--color1);
    color: var(--color2);
}

/*Styles the search icon on hover on a desktop view*/
header .header-1 .form-container form label:hover{
    color: var(--color3);
}

/*Styles the background of the second header (black) */
header .header-2{
    background:var(--color1);
}

/*Styles the navbar of the second header*/
header .header-2 .navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*Styles each list item of the navbar*/
header .header-2 .navbar ul li{
    margin:0 1rem;
}

/*Styles the hyperlink in the each list item*/
header .header-2 .navbar ul li a{
    font-size: 2rem;
    color: var(--color2);
}

/*Styles the links upon hover of each list item
and sets the first link to yellow by default (reason for a.active at line 186)*/
header .header-2 .navbar ul li a.active,
header .header-2 .navbar ul li a:hover{
    color:var(--color3);
}

/*Styles the content of the link which are the font awesome icons on
the second header*/
header .header-2 .icons a{
    color: var(--color2);
    font-size: 2rem;
    padding: 0 1rem;
}

/*Action upon hovering on the icons*/
header .header-2 .icons a:hover{
    color: var(--color3);
}

/*Styles the font awesome menu and give it a display of none when 
viewing the site on large screen*/
header .header-2 #menu{
    font-size: 3rem;
    color: var(--color6);
    cursor: pointer;
    display: none;
}
/*styles header-active, an additional class added in JavaScript
Check line 13 of JavaScript*/
header .header-2.header-active{
    position: fixed;
    top:0; left: 0;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
}

/*Sets the positioning of the item class that contains the different 
slider images and the text*/
.home .home-slider .item{
    position: relative;
}
/*Styles the size of the image sliders */
.home .home-slider .item img{
    height: 100vh;
    object-fit: cover;
    width: 100%;
}

/*Styles the text in the home section*/
.home .home-slider .item .content{
    position: absolute;
    top:50%; left: 5%;
    transform: translateY(-50%);
}

/*Styles the heading tag inside the class item*/
.home .home-slider .item .content h3{
    color : var(--color6);
    text-shadow: 0 .3rem .5rem #000;
    font-size: 5rem;
    text-transform: uppercase;
}

/*Styles the paragraph tage inside the class item*/
.home .home-slider .item .content p{
    color: var(--color2);
    font-size: 2.5rem;
    padding:2rem 0;
    width: 50rem;
}

/*Styles the position of the owl carousel slider (jquery plugin)*/
.home .owl-carousel .owl-prev, .home .owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
}

/*Styles the position of the owl carousel previous arrow*/
.home .owl-carousel .owl-prev{
    left: 1.3rem;
}

/*Styles the position of the owl carousel next arrow*/
.home .owl-carousel .owl-next{
    right: 1.3rem;
}

/*Styles the carousel arrow color and size*/
.home .owl-carousel .owl-prev span, .home .owl-carousel .owl-next span{
    color: var(--color2);
    font-size: 7rem;
}

/*Styles the arrival secion by giving it a min-height*/
.arrival{
    min-height: 100vh;
}

/*Styles the box-container class, which contains all the products arrived*/
.arrival .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    width: 85%;
    margin: 0 auto;

}

/*Styles the box class inside the box-container class which is an article*/
.arrival .box-container .box{
    flex:1 1 30rem;
    border:.1rem solid rgba(0,0,0,.3);
    overflow: hidden;
    position: relative;
    margin:1rem 2rem;
    border-radius: 1.5rem;
    transition: .5s ease-in-out;
    box-shadow: 1px 1px 15px .1px var(--arrival-box-shadow);
}

/*Transforms the box article upon hovering on it*/
.arrival .box-container .box:hover {
    transform: scale(1.1);
}

/*Styles the class image containing the image of the article*/
.arrival .box-container .box .image{
    height: 20rem;
    padding:2rem;
    text-align: center;
    background: var(--background);
}

/*Styles the image tag of the article*/
.arrival .box-container .box .image img{
    height: 100%;
    object-fit: cover;
}
/*Styles the name of the article that is the h3 tag*/
.arrival .box-container .box .info h3{
    padding:1rem;
    font-size: 2rem;
    color:var(--color1);
}

/*Styles the class subInfo that contains the star and prices*/
.arrival .box-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem;
    border-top: .1rem solid rgba(0,0,0,.3);
}
/*Styles the price*/
.arrival .box-container .box .info .subInfo .price{
    color: var(--price2);
    font-size: 2rem;
}

/*Styles the discout price*/
.arrival .box-container .box .info .subInfo .price span{
    color: var(--discount1);
    font-size: 1.5rem;
    text-decoration: line-through;
}

/*Styles the stars rating*/
.arrival .box-container .box .info .subInfo .stars i{
    color: var(--star);
    font-size: 1.5rem;
}
/*Styles the div containing the font awesome icons heart, shopping-cart and search */
.arrival .box-container .box .overlay{
    position: absolute;
    top:0; left: 0;
    height:20rem;
    width: 100%;
    background: var(--overlay-background);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

/*Styles the div class overlay upong hovering on the box article*/
.arrival .box-container .box:hover .overlay{
    transform: scale(1);
}

/*Styles the hyperlinked icons*/
.arrival .box-container .box .overlay a{
    font-size: 1.5rem;
    padding:1.5rem 2rem;
    background: var(--overlay-favicon-background);
    color: var(--overlay-favicon-color);
    margin:1rem;
    transform: translateY(-15rem);
    transition-delay: calc(.1s * var(--i)); /*Makes them appear consecutively*/
}
/*Sets actions on the hyperlinked icons upon hovering on the box article (translates in 
the Y-direction*/
.arrival .box-container .box:hover .overlay a{
    transform: translateY(0rem);
}

/*Sets the color of the icons*/
.arrival .box-container .box .overlay a:hover{
    color:var(--price2);
}

.feature{
    min-height: 100vh;
    background:linear-gradient(168deg, #fff 50%, var(--color6) 50.1% ); /*,rgb(215, 154, 154));*/
    padding-bottom: 2rem;
}

.feature .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    margin:3rem auto;
    width: 95%;
    background: var(--color2);
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
    border-radius: 1rem;
    
}

.feature .brands {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-end;
    background-color: var(--color2);
}

.feature .row .image-container{
    display: flex;
    align-items: center;
}

.feature .row .image-container .big-image img{
    height: 30rem;
    margin:2rem 0;
    filter: drop-shadow(0 .1rem .5rem #000);
}

.feature .row .image-container .small-image{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.feature .row .image-container .small-image img{
    height:6rem;
    padding: 1rem;
    margin:1rem;
    border:.1rem solid #666;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.feature .row .image-container .small-image img:hover {
    transform: scale(1.5);
}

.feature .row .image-container .small-image img.image-active,
.feature .row .image-container .small-image img:hover{
    border:.2rem solid var(--color6);
   
}

.feature .row .content{
    padding-left: 6rem;
}

.feature .row .content h3{
    font-size: 4rem;
    color:var(--blue);
}

.feature .row .content .stars i{
    font-size: 2rem;
    color: var(--star);
    padding: 1rem 0;
}

.feature .row .content .stars span{
    font-size: 2rem;
    color:#666;
}

.feature .row .content p{
    color:#333;
    width: 40rem;
    font-size: 2rem;
    padding: 2rem 0;
}

.feature .row .content .price{
    color: var(--price2);
    font-size: 2rem;
}

.feature .row .content .price span{
    color: var(--discount1);
    text-decoration: line-through;
    font-size: 1.5rem;
}

.feature .row .content .btn{
    margin-left: 2rem;
}

.gallery{
    min-height: 100vh;
}

.gallery .controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1.5rem 0;
    list-style: none;
}

.gallery .controls .btn{
    margin:2rem;
    line-height: 4rem;
    text-align: center;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.gallery .controls .btn.button-active{
    background:#333;
}

.gallery .image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery .image-container .box{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2rem;
    border:.1rem solid rgba(0,0,0,.3);
    flex:1 1 30rem;
}

.gallery .image-container .box .image{
    height:12rem;
    width: 20rem;
    text-align: center;
    padding:1rem;
    background: #f0f0f0;
}

.gallery .image-container .box .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.gallery .image-container .box:hover .image{
    background:#ccc;
}

.gallery .image-container .box .info{
    width: 100%;
}

.gallery .image-container .box .info h3{
    font-size: 2rem;
    color:var(--blue);
    padding:1rem;
}

.gallery .image-container .box .info .subInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: .1rem solid rgba(0,0,0,.3);
    padding:1rem;
}

.gallery .image-container .box .info .subInfo .price{
    color:#ff3300;
    font-size: 2rem;
}

.gallery .image-container .box .info .subInfo .stars i{
    color:orange;
    font-size: 1.5rem;
}

.deal{
    min-height: 100vh;
}

.deal .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.deal .box-container .box{
    flex:1 1 40rem;
    height: 25rem;
    margin:2rem;
    border-radius: 1rem;
    overflow: hidden;
    position: relative;
    box-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.deal .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.deal .box-container .box .content{
    position: absolute;
    top:55%; left: 3rem;
    transform:translateY(-50%);
}

.deal .box-container .box .content h3{
    font-size: 3.5rem;
    color:#fff;
    text-shadow: 0 .3rem .5rem rgba(0,0,0,.3);
}

.deal .box-container .box .content p{
    font-size: 2rem;
    color:#fff;
}

.deal .box-container .box .content .btn{
    margin:1.4rem 0;
}

.deal .icons-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    flex-wrap: wrap;
}

.deal .icons-container .icons{
    flex:1 1 25rem;
    padding:1rem;
    margin:1rem;
    text-align: center;
    border:.2rem solid var(--color1);
}

.deal .icons-container .icons i{
    color:var(--color4);
    font-size: 4rem;
    padding:1rem 0;
}

.deal .icons-container .icons h3{
    color:#333;
    font-size: 2rem;
}

.deal .icons-container .icons p{
    color:#666;
    font-size: 1.3rem;
    padding:1rem 0;
}

.newsletter{
    background:linear-gradient(var(--color1),var(--color2),var(--color1)), url(../images/deal1.jpg) no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:4rem 1rem;
    text-align: center;
}

.newsletter h1{
    color: var(--color1);
    font-size: 4rem;
}

.newsletter p{
    color: var(--color1);
    font-size: 2rem;
    padding:1rem 0;
}

.newsletter form{
    height:5.5rem;
    max-width: 60rem;
    margin:0 auto;
    padding:0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5rem;
    background:rgba(0,0,0,.3);
}

.newsletter form input[type="email"]{
    height: 100%;
    width: 80%;
    padding:0 1rem;
    outline: none;
    border:none;
    background:none;
    font-size: 2rem;
    color:#fff;
}

.newsletter form input[type="submit"]{
    border-radius: 5rem;
}

.footer .box-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer .box-container .box{
    flex:1 1 25rem;
    margin:2rem;
}

.footer .box-container .box .logo{
    font-size: 2.5rem;
    color:#333;
}

.footer .box-container .box i{
    color:var(--color4);
}

.footer .box-container .box p{
    font-size: 1.7rem;
    padding:1rem 0;
    color:#666;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:var(--blue);
}

.footer .box-container .box:nth-child(2){
    text-align: center;
}

.footer .box-container .box:nth-child(2) a{
    display: block;
    font-size: 2rem;
    padding:.4rem 0;
    color:#666;
}

.footer .box-container .box:nth-child(2) a:hover{
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    width: 85%;
    margin:0 auto;
    padding:1.4rem 0;
    border-top: .1rem solid rgba(0,0,0,.3);
    color:#666;
    font-size: 2rem;

    padding-bottom: 5rem;

}

.footer .credit span{
    color:var(--color1);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar);
    border-radius: 16px;
}


















/* media queries  */
/*Sets the actions when the screen has a max-width of 768px*/

@media (max-width:768px){

    /*Styles the html tag*/
    html{
        font-size: 55%;
        
    }

    /*Styles the input tag on a s*/
    
    header .header-1 .form-container form #search{
        width: 100%;
    }
    
    header .header-1 .form-container form label:hover {
        color: var(--color6);
    }

    header .header-2 .icons a:hover {
        color: var(--color6);
    }

    header .header-2 #menu{
        display: block;
    }

    header .header-2 .navbar{
        position: fixed;
        top: -200rem; left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 0 100vh rgba(0,0,0,.3);
        z-index: 10000;
        opacity: 0;
    }

    .btn:hover {
        background-color: var(--color4);
    }

    header .header-2 .navbar ul{
        flex-flow: column;
        background: linear-gradient(transparent, var(--color5) ,transparent);
        border:.2rem solid var(--color5);
        box-shadow: 0 .3rem .5rem #242424;
        padding:4rem 0;
        width: 27rem;
    }

    header .header-2 .navbar ul li{
        width: 100%;
        margin:1rem 0;
        text-align: center;
    }

    header .header-2 .navbar ul li a{
        font-size: 2.5rem;
        display: block;
    }

    header .header-1 form .form-container #search:focus{
        border: none;
    }

    .fa-times{
        transform: rotate(180deg);
    }

    header .header-2 .nav-toggle{
        top:50%;
        opacity: 1;
    }

    .arrival .box-container{
        width: auto;
    }

    .feature .brands .img {
        size: 2em;
    }

}

@media (max-width:600px){

    html{
        font-size: 50%;
    }

    .home .home-slider .item .content h3{
        font-size: 3rem;
    }

    .home .home-slider .item .content p{
        font-size: 2rem;
        width: auto;
    }

    .feature .row .image-container{
        flex-flow: column wrap;
    }

    .feature .row .image-container .small-image{
        flex-flow: row wrap;
        padding-bottom: 2rem;
    }

    .feature .row .content{
        padding:2rem;
        border-top: .1rem solid rgba(0,0,0,.3);
    }

    .feature .row .content p{
        width: auto;
    }

    .feature .row .content .btn{
        margin: 2rem 0;
    }
    
    
}


@media (max-width:400px){

    html{
        font-size: 45%;
    }

    header .header-1{
        flex-flow: column;
        padding:1rem;
    }

    header .header-1 .logo{
        padding-bottom: 1.5rem;
    }

}
